# For local development
NITAQAT_DB=postgresql://postgres:password@localhost:5432/nitaqat_db
NITAQAT_DB_CLOWDE=postgresql://postgres:password@localhost:5432/nitaqat_db
# For dashboard (if running separately)
API_URL=http://localhost:8000